.App {
  text-align: center;
}

.upload-section {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.photos-section > img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
